body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header .contact-info {
    font-size: 14px;
}

.hero {
    position: relative;
    text-align: left;
    color: white;
    /*margin-top: 20px; /* Add margin to push HERO below the header */
}

.hero-image {
    width: 100%;
    height: auto;
    opacity: 2;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 24px;
    margin: 10px 0;
}

.hero .cta-button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
}

.section {
    padding: 40px 20px;
}

.services, .testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service, .testimonial {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    border: 
